<div class="sidebar d-flex justify-content-center">
    <div class="content">
        <ul class="nav-item">
            <li><a (click)="navigate('/home')" routerLink="">home</a></li>
            <!-- <li><a (click)="navigate('/blog')" routerLink="">blog</a></li> -->
            <li><a (click)="navigate('/resume')" routerLink="">resume</a></li>
            <!-- <li><a (click)="navigate('/contact')" routerLink="">contact me!</a></li> -->
            <li><a href="mailto:lilysuau@gmail.com">contact me!</a></li>
        </ul>
        <!-- social icons -->
        <ul class="social-icons light list-inline mb-0 mt-4">
            <li class="list-inline-item">
                <a target="_blank"
                    href="https://open.spotify.com/artist/7Jvan4BLdSbj8SuKmrX83C?si=AwTluYCFTtCetYIO33XoMg"><i
                        class="fab fa-spotify"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/in/liliasuau"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://github.com/liliasuau"><i class="fab fa-github"></i></a>
            </li>
        </ul>
    </div>
</div>