<div class="element" id="about">
	<div class="content">
		<h3>Tetradis THD Factory distributeur
			de <span class="bold">solutions </span>Très Haut Débit.</h3>
		<div class="row">
			<div class="col-md-12 col-lg-4 mr-5">
				<h5>LE CLIENT & CONTEXTE</h5>
				<p>Tetradis est une entreprise qui fabrique et distribue des solutions pour les réseaux à très haut débit.</p>
			</div>
			<div class="col-md-12 col-lg-4">
				<h5>BESOIN & PROBLÉMATIQUE</h5>
				<p>Tetradis disposait d’un site vitrine vieillissant et souhaitait moderniser sa plateforme pour affirmer son image d’entreprise dynamique et moderne. Ils souhaitaient également développer un site e-commerce afin de proposer à leurs clients un nouveau canal de commercialisation.</p>
			</div>
		</div>
	</div>
</div>