    <div class="element">
        <div class="content">
            <div class="row justify-center">
                <div class="col message-sent">
                    <div>
                        <div class="bold">
                            <div>Yay!</div>
                        </div>
                    </div>
                    <p style="margin-top: 10px"> Your message has been sent. Please allow 24 hours for us to get back to you.</p>
                    <div class="loc"><button class="nav-link btn-white" routerLink="../visit">View Office Location</button></div>
                </div>
                <div class="col justify-center">
                    <div class="img-container">
                        <img src="assets/images/message-sent.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>