<section class="great-lakes">
    <!-- <img src="assets/images/guggenheim_museum.jpg" alt="Lilia"> -->
    <div class="intro">
        <h1>Lilia Suau</h1>
        <h4 @slide>Full-Stack Developer & <span>UI Designer</span></h4>
        <div class="spacer-20"></div>
        <button @slide class="btn btn-blue" (click)="scrollTo('contact')">Contact</button>
        <!-- <button @slide class="btn btn-white" (click)="scrollTo('contact')">Contact</button> -->
    </div>
    <!-- <div class="m-bottom">
        <p>Contact</p>
    </div> -->
    <div class="m-contact">
        <a>lilysuau@gmail.com</a>
    </div>
</section>
<!-- <div class="container"> -->
    <!-- <div class="intro">
        <span>I'm a
            <span class="text-rotating morphext">
                <span *ngIf="bounce === 1"><span @bounce>Full-Stack developer</span></span>
                <span *ngIf="bounce === 2"><span @bounce>UI/UX designer</span></span>
                <span *ngIf="bounce === 3"><span @bounce>Musician</span></span>
            </span>
        </span>
        <div class="mt-4">
            <a href="javascript:" class="btn btn-white" (click)="scrollTo('contact')">Contact</a>
        </div>
    </div> -->

    <!-- scroll down mouse wheel -->
    <!-- <div class="scroll-down">
        <a href="javascript:" class="mouse-wrapper" (click)="scrollTo('about')">
            <span>Scroll Down</span>
            <span class="mouse">
                <span class="wheel"></span>
            </span>
        </a>
    </div> -->

<!-- </div> -->