<div class="element" id="moving-content">
	<div class="content">
        <h1>Tech Stacks & <span class="bold">Tools and Technologies</span> I use</h1>
        <div class="spacer-60"></div>
        <!-- <h5>*# is level of proficiency</h5> -->
        <div class="scroll_row">
            <div class="scroll_content" id="transform-left__1">
                <div class="scroll_container">
                    <h2>Angular</h2>
                    <button class="btn btn-white">8</button>
                </div>
                <div class="scroll_container">
                    <h2>TypeScript</h2>
                    <button class="btn btn-white">1</button>
                </div>
                <div class="scroll_container">
                    <h2>ASP.NET</h2>
                    <button class="btn btn-white">8</button>
                </div>
                <div class="scroll_container">
                    <h2>MySQL</h2>
                    <button class="btn btn-white">7</button>
                </div>
            </div>
            <div class="scroll_content" id="transform-left__2">
                <div class="scroll_container">
                    <h2>Angular</h2>
                    <button class="btn btn-white">8</button>
                </div>
                <div class="scroll_container">
                    <h2>TypeScript</h2>
                    <button class="btn btn-white">1</button>
                </div>
                <div class="scroll_container">
                    <h2>ASP.NET</h2>
                    <button class="btn btn-white">8</button>
                </div>
                <div class="scroll_container">
                    <h2>MySQL</h2>
                    <button class="btn btn-white">7</button>
                </div>
            </div>
        </div>
        <div class="scroll_row">
            <div class="scroll_content" id="transform-right__1">
                <div class="scroll_container">
                    <h2>Jenkins</h2>
                    <button class="btn btn-white">7</button>
                </div>
                <div class="scroll_container">
                    <h2>Google Cloud</h2>
                    <button class="btn btn-white">3</button>
                </div>
                <div class="scroll_container">
                    <h2>OAuth 2</h2>
                    <button class="btn btn-white">6</button>
                </div>
                <div class="scroll_container">
                    <h2>Wordpress</h2>
                    <button class="btn btn-white">4</button>
                </div>
            </div>
            <div class="scroll_content" id="transform-right__2">
                <div class="scroll_container">
                    <h2>Jenkins</h2>
                    <button class="btn btn-white">7</button>
                </div>
                <div class="scroll_container">
                    <h2>Google Cloud</h2>
                    <button class="btn btn-white">3</button>
                </div>
                <div class="scroll_container">
                    <h2>OAuth 2</h2>
                    <button class="btn btn-white">6</button>
                </div>
                <div class="scroll_container">
                    <h2>Wordpress</h2>
                    <button class="btn btn-white">4</button>
                </div>
            </div>
        </div>
	</div>
</div>