<section class="element justify-center" id="blog">
    <div class="col-lg-12 section">
        <h1>Blog Posts</h1>
        <div class="post">
            <p>3 January 2023</p>
            <h2>Web Performance: The Problems</h2>
            <p>No doubt, there are a ton of reasons why websites are slow, some of which are case-specific. I like to look
                 at these factors from two perspectives...
            </p>
            <button [routerLink]="['/blog', 1]" class="btn btn-white">Read Post</button>
        </div>
        <div class="post">
            <p>1 January 2023</p>
            <h2>Web Performance: The Big Picture</h2>
            <p>As the web platform continues to evolve quickly, new technologies and development techniques 
                spring up even more rapidly. It has become alarming how many slow sites are on the web today.
            </p>
            <button [routerLink]="['/blog', 2]" class="btn btn-white">Read Post</button>
        </div>
    </div>
</section>