<div class="element justify-center" id="blog">
    <div class="col-lg-12 section">
        <div class="post">
            <h2>Web Performance: The Problems</h2>
            <p>3 January 2023 | <span class="text-green">2 minute read</span></p>
            <p>No doubt, there are a ton of reasons why websites are slow, some of which are case-specific. I like to look
                 at these factors from two perspectives...
            </p>
            <p>As the web platform continues to evolve very quickly, new technologies and development techniques spring up even more rapidly. It has become alarming how many slow sites are on the web today, one of the reasons being the drastic shift of the web from a document-centric platform to a much more dynamic application platform — the web is more powerful than ever, making it possible for users to get virtually any experience on the web — and that’s awesome, really.</p>
            <p>However, the web really is getting slower. It’s quite unfortunate that a lot of web teams and businesses just want a “magical solution” not realizing there’s no one antidote to poor performance of sites; there’s no one tech or approach that’s going to make websites or the web platform as a whole fast automagically, which is why in my opinion, engineering teams should prioritize performance at every phase of the design sprint for a product.</p>
            <p>In this article, we’ll be talking about why web performance really matters. So, let’s dive right in!</p>
            <h3>Why Performance Matters</h3>
            <p>In one word, performance is about your users. Users. That’s why performance matters. You’re building a product for people to use it, right? Whether you’re building your portfolio, a news site, or a more dynamic experience like Facebook, you want people to use your stuff; and users in a lot of cases means success, same way, success means profit if it’s a business!</p>
            <p>However, for people to interact seamlessly with your application or website, it has to be accessible. Note that “accessible” here is more about showing content to your users quickly at least, and if possible, making the most basic feature work. Diving deeper, optimizing performance for users means providing a great user experience overall. Let’s see how doing this is of benefit to our businesses and products.</p>
        </div>
    </div>
</div>