<div id="parentDiv" class="main-content">
    <section id="intro" class="home d-flex align-items-center" style="padding-top: 0 !important">
        <app-intro class="w-100"></app-intro>
    </section>
    <!-- <section id="about">
        <app-about></app-about>
    </section> -->
    <section class="bg-dark-c" id="experience">
        <app-experience></app-experience>
    </section>
    <!-- <section id="works">
        <app-works></app-works>
    </section> -->
    <section id="moving-content">
        <app-moving-content></app-moving-content>
    </section>
    <section id="contact">
        <app-contact></app-contact>
    </section>
      <!-- Go to top button -->
    <a href="javascript:" id="return-to-top" (click)="scrollTo('intro')"><i class="fas fa-arrow-up"></i></a>
</div>